#elementor-panel-categories {
    display: grid;
}
#elementor-panel-category-WLFMC_WishList {
    order: -999;
}
#elementor-panel-category-WLFMC_WishList .elementor-panel-category-title::after {
    font-family: "eicons";
    content: '\e93f';
    color: #fff;
    font-size: 13px;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}